<div class="   {{products.categoryName}}  ">
    <div class="product discount product_filter">
        <div class="product_image">
            <img src="{{products.productPicture}}"  style="max-height: 245px;"  alt="{{products.name}}">
        </div>
        <div class="favorite favorite_left"></div>
     
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">{{products.name}}</a></h6>
            <div class="product_price">${{products.price}}</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>