<header class="header trans_300">


    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <a routerLink="/" ><img src="/assets/images/logo.png" style="max-height: 70px;"></a>
                    </div>
                    <nav class="navbar">
                        <ul class="navbar_menu">
                            <li><a class="menu_selected"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a></li>
                            <li><a  class="menu_selected"  routerLink="/shop" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" >shop</a></li>
                            <li><a routerLink="test-error">Test Error</a></li>
                            <li><a href="#">pages</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                        <ul class="navbar_user">
                        <!--    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>-->
                        <li>
                            
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">
                                  
                                    <li class="account"  style="width: 60px;   background-color: white;">
                                        <a href="#">
                                            
                                       <i class="fa fa-user"  aria-hidden="true"></i>
                                        </a>
                                        <div *ngIf="(CurrentUser$|async)===null">
                                        <ul class="account_selection"  style=" width: 100px;"  >
                                            <li ><a style=" width: 80px;" routerLink="/account/login" ><i  class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                         
                                            <li><a routerLink="/account/reqister"><i  class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                        </ul>
                                    </div>
                                        <div *ngIf="(CurrentUser$|async)">
                                            <ul class="account_selection"  style=" width: 80px;"  >
                                            <li><a routerLink="basket" ><i class="fa fa-sign-in" aria-hidden="true"></i>basket</a></li>
                                            <li><a (click)="Logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i>LogOut</a></li>
                                            </ul>
                                        </div>
                                   
                                    </li>
                            </ul>
                            </div>
                        </li>
                            <li  routerLink="/basket"  *ngIf="(basket$ | async) as basket"   class="checkout">
                                <a routerLink="/basket">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span id="checkout_items" class="checkout_items">{{basket.basketItems.length}}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="hamburger_container">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
          <!--   <li class="menu_item has-children">
                <a href="#">
                    usd
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#">cad</a></li>
                    <li><a href="#">aud</a></li>
                    <li><a href="#">eur</a></li>
                    <li><a href="#">gbp</a></li>
                </ul>
            </li>-->
            <li class="menu_item has-children">
                <a href="#">
                    English
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#">French</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </li>
            <li class="menu_item has-children">
                <a href="#">
                    My Account
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                </ul>
            </li>
            <li class="menu_item"><a href="#" routerLink="/">home</a></li>
            <li class="menu_item"><a href="#" routerLink="/shops">shop</a></li>
            <li class="menu_item"><a href="#">promotion</a></li>
            <li class="menu_item"><a href="#">pages</a></li>
            <li class="menu_item"><a href="#">blog</a></li>
            <li class="menu_item"><a href="#">contact</a></li>
        </ul>
    </div>
</div>