.box
{

    display: inline-block;
    position: relative;
    width: 185px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ecedee;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 7px;
    margin-right: 16px;
}