<div class="main_slider" style="background-image:url(/assets/images/banner2.png)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content" style="padding-left: 50px;">
                   <br> <br> <br> <br> <br>
                    <h3><span style="color: white;">Get up to 30% Off New Arrivals</span></h3>
                    <div class="red_button shop_now_button" ><a href="#">shop now</a></div>
                    <br> <br>
                </div>
            </div>
        </div>
    </div>
</div>